.project-buttons {
    display: flex;
    justify-content: center;
}

.section-button i {
    font-size: 2.5em;
    margin: 10px 0px;
    color: #165c98;
}

.section-button img {
    width: 40px;
}

.section-button h4 {
    font-size: 1.5em;
    margin: 0;
    color: rgb(167, 167, 167);
}

.section-button {
    /* background-color: #0b0f18; */
    background-color: #11131d;
    color: #0c4475;
    border: none;
    height: 180px;
    width: 180px;
    margin: 10px;
    transition: 0.5s;
    padding: 10px;
}

.section-button:hover {
    background-color: #0a2843;
    cursor: pointer;
}